@import 'tailwindcss';

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 400 700;
  src: url('../assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@theme {
  --color-White: hsl(0, 0%, 100%);
  --color-Slate-300: hsl(212, 45%, 89%);
  --color-Slate-500: hsl(216, 15%, 48%);
  --color-Slate-900: hsl(218, 44%, 22%);

  --font-Outfit: 'Outfit', 'sans-serif';
}
