@import 'tailwindcss';
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400 700;
  src: url('../assets/fonts/KumbhSans-VariableFont_YOPQ-wght.ttf')
    format('truetype');
  font-display: swap;
}
@theme {
  /* Primary */
  --color-Blue-600: hsl(185, 75%, 39%);
  --color-Navy-950: hsl(229, 23%, 23%);
  --color-Gray-500: hsl(227, 10%, 46%);
  /* Neutral */
  --color-Gray-100: hsl(225, 10%, 92%);
  --font-Kumbh-Sans: 'Kumbh Sans';
}
