@import 'tailwindcss';
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500 900;
  src: url('../assets/fonts/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}
@theme {
  /* Primary */
  --color-Blue-100: hsl(225, 100%, 94%);
  --color-Blue-700: hsl(245, 75%, 52%);
  /* Neutral */
  --color-Blue-50: hsl(225, 100%, 98%);
  --color-Gray-600: hsl(224, 23%, 55%);
  --color-Blue-950: hsl(223, 47%, 23%);
  --font-Red-Hat-Display: 'Red Hat Display';
}